.text{
    text-align: justify;
  }

  
  .jogo_text {
    display: flex;
    align-items: center;
  }
  
  .jogo_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
  }
  
  .jogo_text .tabuleiro {
    background-color: #fdaf1d;
  }
  
  .jogo_text .cartas {
    background-color: #3295ff;
  }

  .jogo_text .console {
    background-color: #32ff46;
  }

  .jogo_text .online {
    background-color: #ef27fd;
  }